<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

    <bean id="logAspect" class="com.lyh.systemlog.LogAspect"/>
    <bean name="userService" class="com.lyh.systemlog.service.impl.UserServiceImpl"/>
    <aop:aspectj-autoproxy/>
    <aop:config>
        <aop:aspect ref="logAspect">
            <aop:pointcut id="logPointCut" expression="@annotation(com.lyh.systemlog.annotation.SystemLog)"/>
            <aop:around pointcut-ref="logPointCut" method="saveLog"/>
        </aop:aspect>
    </aop:config>
</beans>
